<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <p><%- include('./partiels/messages.ejs') %></p>
      <h1><i class="fab fa-node-js fa-3x"></i></h1>
      <p>Travail pratique 1</p>
      <a href="/usagers/menu" class="btn btn-primary btn-block mb-2"
        >Gestion des usagers</a
      >
      <a href="/livres/" class="btn btn-info btn-block mb-2"
        >Gestion des livres</a
      >
      <a class="btn btn-danger btn-block mb-1" href="/usagers/logout"
        >Se déconnecter</a
      >
    </div>
  </div>
</div>
